{% extends 'base.html' %}

{% block menu-bar %}
<div class="collapse navbar-collapse navbar-right">
    <ul class="nav navbar-nav">
        <li><a href="/">Inicio</a></li>
        <li class="active"><a href="/load">Upload</a></li>
        <li><a href="/ops">Operaciones</a></li>
        <li><a href="/lac">LAC</a></li>
        <li><a href="/lmc">LMC</a></li>
    </ul>
</div>
{% endblock %}

{% block body %}
    <div class=slider>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload Image</button>
            </form>
        </div>
    </div>
{% endblock %}